@import 'utils/all';

.image {
  display: block;
  width: 100%;
}

.mb {
  margin-bottom: 1em;
}

.mt {
  margin-top: 1em;
}

.ml {
  margin-left: 1em;
}

.mr {
  margin-right: 1em;
}

.m-0 {
  margin: 0;
}

.h-100 {
  height: 100%;
}

.bs-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .bs-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .bs-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .bs-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .bs-container {
    max-width: 1140px;
  }
}

.row {
  margin-bottom: 0;
}

.row-list-header,
.row-list {
  padding: 1rem 1.5rem;

  > .row {
    margin: 2rem -0.75rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.paragraph-content {
  white-space: pre-line;
  margin: 0;
}

form {
  label.required {
    &:before {
      content: '*';
      position: absolute;
      right: -0.75em;
      color: $text-danger;
      font-weight: bold;
    }
  }
}
